<div class="nested-fields">
  <div class="form-group">
    <div class="field">
      <%= f.label :file, class: "col-sm-2 control-label" %>
      <div class="col-sm-2">
        <div class="thumbnail">
          <%= image_tag f.object.file.url(:medium) %>
        </div>
      </div>
      <div class="col-sm-6">
        <%= f.file_field :file %>
      </div>
    </div>
    <div class="col-sm-2">
      <%= link_to_remove_association "remove photo", f %>
    </div>
  </div>
</div>
