<p>
  <strong>Name:</strong>
  <%= @agent.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @agent.company %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @agent.mobile %>
</p>

<p><%= link_to 'Back', agents_path %></p>
