<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>From <%= @contact.name %> <%= @contact.email %></p>
    <p>Subject: <%= @contact.subject %></p>
    <pre><%= @contact.body %></pre>
  </body>
</html>
