// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.alert {
  margin-top: 20px;
}

.alert.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.add-photo-link {
  margin-bottom: 30px;
}
